/* ── TEXT ─────────────────────────────────── */

/* (no text styles in HeroSlider) */

/* ── GRID / LAYOUT ───────────────────────── */

.hero-slider {
  width: 100%;
  overflow: hidden;
}

.hero-slider__swiper {
  width: 100%;

  :global(.swiper-pagination) {
    bottom: 36px !important;
  }

  :global(.swiper-pagination-bullet) {
    width: 8px;
    height: 8px;
    background: transparent;
    border: 1px solid #a0a0a0;
    opacity: 1;
    transition: background 0.3s, border-color 0.3s;
    border-radius: 50%;
    position: relative;
    margin: 0 10px !important;
  }

  :global(.swiper-pagination-bullet-active) {
    background: #97d700;
    border-color: transparent;
    box-shadow: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
      border: 1px solid #97d700;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
}

.hero-slider__slide {
  position: relative;
  width: 100%;
  background-color: #11099d;
}

.hero-slider__image--desktop,
.hero-slider__image--mobile {
  width: 100%;
  height: auto;
  display: block;
}

.hero-slider__image--desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
    width: 100vw;
    height: 600px;
    object-fit: contain;
  }

  @media (min-width: 1200px) {
    height: 985px;
  }
}

.hero-slider__image--mobile {
  display: block;
  width: 100%;
  height: calc(100vh - 124px);
  object-fit: contain;

  @media (min-width: 768px) {
    display: none;
  }
}
