@use "../../styles/interpolate" as interp;

.engineered {
  width: 100%;
  height: 640px;
  overflow: hidden;
  background-image: url("/images/engineered-precision/mobile-bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    height: 800px;
    background-image: url("/images/engineered-precision/tablet-bg.png");
    background-position: center bottom;
    background-size: cover;
  }
  @media (min-width: 992px) {
    height: 514px;
    background-image: url("/images/engineered-precision/ipad-bg.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 1200px) {
    height: 760px;
    background-image: url("/images/engineered-precision/desktop-bg.png");
    background-position: -180px center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 1400px) {
    background-position: center;
  }
}

/* ── TEXT ─────────────────────────────────── */

.engineered__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
}

.engineered__title {
  font-family: var(--font-archivo), "Archivo", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: normal;
  }

  @media (min-width: 992px) {
    text-align: left;
  }

  @media (min-width: 1200px) {
    font-size: 32px;
    line-height: normal;
  }
}

.engineered__description {
  font-family: var(--font-archivo), "Archivo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: 992px) {
    text-align: left;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 26px;
  }
}


.engineered__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  grid-column: 1 / -1;
  padding: 64px 0;

  @media (min-width: 992px) {
    padding: 0;
    grid-column: 8 / 13;
    align-items: flex-start;
  }
}

.engineered__container {
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  align-items: flex-start;
  justify-content: center;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    align-items: center;
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}
