@use "../../styles/fluid" as *;

.section-title {
  margin-bottom: 24px;

  @media (min-width: $bp-md) {
    margin-bottom: 32px;
  }
}

.section-title__heading {
  color: #1f1f1f;
  font-family: var(--font-archivo);
  font-size: 28px;
  font-stretch: expanded;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $bp-md) {
    font-size: 32px;
    line-height: 40px;
  }
}

.section-title__description {
  color: #6b727a;
  font-family: var(--font-archivo);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;

  @media (min-width: $bp-md) {
    font-size: 18px;
    line-height: 26px;
  }
}
