@use "../../styles/interpolate" as interp;

.page-header {
  align-items: center;
  background: #10069f;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  @include interp.interpolate("padding-top", 576px, 40px, 1400px, 40px, "ease-in-out");
  @include interp.interpolate("padding-bottom", 576px, 40px, 1400px, 80px, "ease-in-out");
}

.page-header__title {
  color: #fff;
  font-family: var(--font-archivo-expanded), "Archivo Expanded", sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  @include interp.interpolate("font-size", 576px, 28px, 1400px, 32px, "ease-in-out");
  @include interp.interpolate("line-height", 576px, 32px, 1400px, 40px, "ease-in-out");
}
