@use "../../styles/fluid" as *;

.page-header {
  align-items: center;
  background: #10069f;
  display: flex;
  justify-content: center;
  padding: 40px $space-gutter;
  margin-bottom: 40px;
  @media (min-width: $bp-md) {
    padding: 80px $space-gutter 120px;
  }
}

.page-header__title {
  color: #fff;
  font-family: var(--font-archivo-expanded), "Archivo Expanded", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $bp-md) {
    font-size: 32px;
    line-height: 40px;
  }
}
